* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.header {
  background-color: #1f2937;
  height: 400px;
  width: 100%;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 50px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

#logo {
  height: 60px;
  margin: 15px;
  padding-top: 10px;
  width: auto;
}

.logo-container > h3 {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style-type: none;
  padding-right: 15px;
  margin: 30px;
  font-size: 25px;
}

li {
  float: right;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  width: 50%;
  margin-left: 20px;
}

.intro > h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  font-family: "Roboto";
}

.intro > p {
  font-size: 18px;
  color: #e5e7eb;
}

#btn1 {
  background-color: #3882f6;
  margin: 20px;
  padding: 8px 25px;
  border-radius: 8px;
}

#hero-img {
  width: 290px;
  margin-right: 65px;
  margin-top: 10px;
}

.gallery {
  height: 300px;
}

.gallery > h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin-top: 25px;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  height: 200px;
}

.products div {
  margin: 0 30px;
  color: #1f2937;
  text-align: center;
}

.products > div > img {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: #3882f6;
  border-radius: 10%;
}

.quote {
  background-color: #e5e7eb;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

blockquote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote span {
  float: right;
  font-size: 30px;
}

.cta {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  background-color: #3b82f6;
  width: 60%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.invite {
  flex-grow: 0.75;
  color: #f9faf8;
}

.invite-btn > button {
  background-color: #3882f6;
  font-size: 20px;
  color: #e5e7eb;
  text-align: center;
  width: 120px;
  height: auto;
  padding: 8px;
  border-style: solid;
  border-width: 2.5px;
  border-color: #e5e7eb;
  border-radius: 8px;
}
